# Indicates that this is the root EditorConfig file
root = true

# General settings applied to all files
[*]
charset = utf-8                      # Use UTF-8 character encoding
end_of_line = lf                    # Use LF for line endings (Unix style)
insert_final_newline = true         # Ensure file ends with a newline
indent_style = space                # Use spaces for indentation
indent_size = 4                    # Indent using 4 spaces
trim_trailing_whitespace = true    # Remove any trailing whitespace at line ends

# For Markdown files, do not trim trailing whitespace
# (To preserve formatting such as lists and tables)
[*.md]
trim_trailing_whitespace = false

# For Makefiles, tabs are required for indentation
[Makefile]
indent_style = tab
